{% extends 'base.html' %}


{% block body %}
<div class="container" style="text-align:center;width:50%">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2> Login</h2>
        </div>
        <div class="panel panel-body">
            <form method="post">
                {% csrf_token %}


                {{ form.as_p}}
                <a href="/account/register">Not registered? Click here</a><br /><br />
                <button class="btn btn-primary" type="submit">Login</button>

            </form>
        </div>
    </div>
</div>
{% endblock %}