{% extends 'base.html' %} {% block body %}

<div class="container" style="text-align:center;width:50%">
    {% if msgtrue == "true" %}
    {%for x in msg%}
    <div class="alert alert-{{alerttype}}" role="alert">
        {{x}}
    </div>
    {%endfor%}

    {%endif%}
    <p>
        {% if form.errors %}
        <h1>ERRORRRRRR same email again???</h1>
        {% endif %}
    </p>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h1> Register</h1>
        </div>
        <div class="panel panel-body">

            <form method="post">
                {% csrf_token %}


                <table border="0" class='table'>
                    {{form}}
                </table>
                <button class="btn btn-primary" type="submit">Register</button>
            </form>
        </div>
    </div>

    {% endblock %}