{% extends 'base.html' %} {% block body %}
<style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
         }
</style>
<div class="container" >
    <h1> Claim List</h1>
    
    <table border="1" id="tblExpense" >
        <tr>
            <th> Name </th>
            <th> Date </th>
            <th> Branch Code </th>
            <th> Bank Code </th>
            <th> Bank Account No </th>
            <th> Bank Account Name </th>
            <th> Cost Center </th>
            <th> GL Code </th>
            <th> Transaction Date </th>
            <th> Description </th>
            <th> Amount </th>
            
        </tr>
    
    {% for x in expensedata %}
    <tr>
    <td>{{x.name}}</td>
    <td>{{x.date}}</td>
    <td>{{x.branchcode}}</td>
    <td>{{x.bankcode}}</td>
    <td>{{x.bankacc}}</td>
   <td>{{x.bankaccname}}</td>
   <td> {{x.costcenter}}</td>
   <td>{{x.glcode}}</td>
   <td> {{x.transactiondate}}</td>
   <td> {{x.description}}</td>
    
   <td>RM {{x.amount}}</td>
    
    {%endfor%}
</tr>
</table>

<br/>

<input type="button" id="btnExport" value="Export to Excel" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnExport").click(function () {
            $("#tblExpense").table2excel({
                filename: "Table.xls"
            });
        });
    });
</script>
</div>

{% endblock %}